# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Database
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Python testing
.pytest_cache/
.coverage

# Alembic cache
alembic/__pycache__/